.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.searchbox {
  background-color: hsl(0, 0%, 96%);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  /* Set a maximum width if needed */
  width: 100%;
  /* Take up full available width */
  margin: 0 auto;
  /* Center the element horizontally */
}

/* Styling for the textarea */
.userInput {
  width: 90%;
  height: 30px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
  resize: none
}

textarea {
  transition: 0.9s ease-in;
  outline: none;
}

/* Styling for the submit button */


.submit-btn {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

/* Hover effect for the submit button */
.submit-btn:hover {
  background-color: #0056b3;
}

.reder_result {
  background-color: hsl(0, 0%, 96%);
  text-align: left;
  max-width: 700px;
  /* Set a maximum width if needed */
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  /* Ensure padding is included in the element's total width */
}